@using PagedList
@using PagedList.Mvc
@model IEnumerable<ModelEF.Model.UserAccount>
@{
    ViewBag.Title = "Tài khoản người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    <i class="fa fa-user"></i>&nbsp;Danh sách tài khoản người dùng
}
@using (Html.BeginForm("Index", "UserAccount", FormMethod.Post))
{
    <div class="col-lg-12 form-group">
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString"
                   placeholder="Nhập từ khóa cần tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-default" />
        </div>
    </div>
}
<div class="col-lg-12 form-group">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>
                UserName
            </th>
            <th>
                PassWord
            </th>
            <th>
                Status
            </th>
            <th>Tùy chọn</th>
        </tr>
        @{ var i = 1;}
        @foreach (var item in Model)
        {
            <tr id="row_@item.ID">
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a href=""><i class="fa fa-refresh" title="Sửa"></i></a>
                    &nbsp;
                    @Ajax.ActionLink(" ", "Delete", new { @id = item.ID }, new AjaxOptions
               {
                   Confirm = "Bạn có muốn xóa tài khoản này không?",
                   OnComplete = "$('#row_" + item.ID + "').remove()",
                   HttpMethod = "Delete"
               }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
            i++;
        }
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new 
    { page, @searchString = @ViewBag.SearchString }))
</div>